# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/mvvmDebug/compileMvvmDebugJavaWithJavac/classes/
/lib_jar/build/
/lib_jar/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/module_login/build/
/module_login/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/